<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits Plants </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="flo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4d5b0504d.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg " id="navbar" width="10px" height="10px">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> <img width="80px" height="80px" src="E:/Students/Santhosh R/new one/static/logo.jpeg" > </img><font face="Viner Hand ITC">Planty world</font></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="web.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./web.html#about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Plants
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="flo.html">Flowering Plants</a></li>
                  <li><a class="dropdown-item" href="tree.html">Tree Plants</a></li>
                  <li><a class="dropdown-item" href="furit.html">Fruits Plants</a></li>
                  <li><a class="dropdown-item" href="indoor.html"> Indoor Plants </a></li>
                  <li><a class="dropdown-item" href="herbal.html">Herbal Plants</a></li>
                  
                </ul>
                <li class="nav-item">
                    <a class="nav-link " href="./web.html#footter">Contact As</a>
                </li>
              </li>
              
            </ul>
            <button class="btn">Sign In</button>
            
          </div>
        </div>
      </nav>
      <!-- Body -->
      <div id="body" style="padding-top:119px ;">
       <div class="text-center text-white">
        <h1 style="color: rgb(0, 0, 0);">Furit Plants</h1>
        </div>
      </div> 
    
      <!-- First product -->
      <div class="row ">
        <div class="card crd " >
          <img src="E:/Students/Santhosh R/new one/static/fp1.jpeg" class="card-img-top pd " alt="Image of marigold">
          <div class="card-body border border-success">
            <ul type="circle">
              <li><h5 class="card-title ">Plant Name:</h5>
              <h1 class="card-text text-center">Papaya Plant</h1></li>
              <li><h5 class="card-title ">Biological Name:</h5>
              <p class="card-text">Carica Papaya</p></li>
              <li><h5 class="card-title ">Description:</h5>
              <p class="card-text"><br>Varieties:
                <ul type="disc">
                  <li>Pusa Dwarf: These medium-sized trees produce oval to rectangular fruits weighing around 1-2 kg. They’re suitable for high-density cultivation and are dioecious, meaning fruit production occurs between separate male and female plants.</li>
                    <li>Pusa Majesty: This variety yields medium-sized, round fruits weighing approximately 1-1.5 kg. They have good taste and quality and are gynodioecious, producing fruits from both female and hermaphrodite plants.</li>
                    <li>Pusa Giants: Vigorous plants that can withstand winds, their large fruits (up to 2.5-3 kg) are useful in canning industries. Like Pusa Dwarf, they are also dioecious hybrids.</li>
                    <li>Pusa Delicious: These gynodioecious plants yield medium-sized fruits (about 1-2 kg) with deep orange flesh, fantastic flavor, and delicious taste. They’re great for the table.</li>
                    <li>Remember, papayas are not only delicious but also packed with nutrition! 🌱🍈. Happy gardening! 😊</li>
                </ul>
                <br>Characteristics:
                <ul type="disc">
                  <li>Varieties: India cultivates several papaya varieties, including Pusa Dwarf, Pusa Majesty, Pusa Giants, and Pusa Delicious. Each has unique features like fruit size, taste, and suitability for different purposes.</li>
                    <li>Climate Adaptability: Indian papayas thrive in warm and tropical climates. They are well-suited to regions with high temperatures and moderate humidity.</li>
                    <li>Dioecious and Gynodioecious: Papaya plants in India exhibit both dioecious (separate male and female plants) and gynodioecious (female and hermaphrodite plants) characteristics. This affects fruit production and pollination.</li>
                    <li>Nutrient-Rich: Papayas are rich in vitamins (especially vitamin C), antioxidants, and enzymes. They promote digestion, boost immunity, and contribute to overall health.</li>
                    <li>Carpophore: The carpophore, a structure connecting the fruit to the stem, is prominent in Indian papayas. It’s essential for fruit development and ripening.</li>
                    <li>Fruit Shape and Color: Indian papayas come in various shapes (oval, rectangular) and colors (green, yellow, orange). The flesh is typically orange or pinkish.
                    Remember, papayas are not only delicious but also nutritious! 🌱🍈</li>
                </ul>  
                <br>Benefits:
                <ul type="disc">
                 <li>Rich in Vitamin C:
                    Papayas are an excellent source of vitamin C, which supports the immune system, promotes healthy skin, and acts as an antioxidant.</li>
                    <li>Digestive Health:
                    Papayas contain enzymes like papain and chymopapain, which aid digestion by breaking down proteins.
                    They may help alleviate symptoms of indigestion and bloating.</li>
                   <li> Heart Health:
                    The antioxidants in papayas, such as beta-carotene and lycopene, contribute to heart health.
                    Regular consumption may reduce the risk of heart disease.</li>
                   <li> Eye Health:
                    The high levels of vitamin A and beta-carotene in papayas support eye health.
                    They may help prevent age-related macular degeneration.</li>
                    <li>Anti-Inflammatory Properties:
                    Papayas contain compounds that have anti-inflammatory effects.
                    Consuming them may help reduce inflammation in the body.</li>
                    <li>Skin Benefits:
                    The vitamin C and antioxidants in papayas promote healthy skin, collagen production, and wound healing.</li>
                </ul>
              </p>
           
              <li>
                <div>
                  <h5>Review's :</h5>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x "></i>
                </div>
              </li>
            </ul> 
            <div class="d-flex justify-content-around mb-5">
              <h3 style="color: rgb(6, 255, 2);">100 $</h3>
              <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
              <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
            </div>

          </div>
        </div>

      </div>
      <!-- Second product -->
      <div class="row ">
        <div class="card crd " >
          <img src="E:/Students/Santhosh R/new one/static/fpassion.jpg" class="card-img-top pd " alt="Image of marigold">
          <div class="card-body border border-success">
            <ul type="circle">
              <li><h5 class="card-title ">Plant Name:</h5>
              <h1 class="card-text text-center">Passion Fruit Plant</h1></li>
              <li><h5 class="card-title ">Biological Name:</h5>
              <p class="card-text">Passiflora incarnata</p></li>
              <li><h5 class="card-title ">Description:</h5>
              <p class="card-text"><br>Varieties:
                <ul type="disc">
                  <li>Bluecrown Passionflower (Passiflora caerulea):
                    Recognized for its striking blue and white flowers, this captivating vine hails from South America.
                    Its three-lobed leaves and beautiful blossoms add an exotic touch to gardens and landscapes.
                    While it produces small, inedible fruits, its aesthetic charm makes it a popular choice.</li>
                    <li>Purple Passionflower (Passiflora incarnata):
                    Known for its enchanting deep purple blooms and fringed crown.
                    Thrives in well-drained soil and full sunlight.
                    Renowned for its natural calming effects, it’s used as a remedy for anxiety and stress.</li>
                    <li>Passion Fruit Vine (Passiflora edulis):
                    A fast-growing, climbing plant famous for its exotic and aromatic fruit—the Passion Fruit.
                    Native to South America, this perennial vine features distinctive leaves and intricate, fragrant flowers.</li>
                    <li>Stinking Passionflower (Passiflora foetida):
                    Despite its name, it has unique, small, greenish-yellow flowers.
                    The leaves emit a pungent odor when crushed.
                    Found in various parts of India.</li>
                    <li>Sweet Granadilla (Passiflora ligularis):
                    Also known as Gulupa, it produces sweet, orange fruits.
                    Native to South America, it’s cultivated in India as well.</li>
                    <li>Banana Passionfruit (Passiflora tarminiana):
                    Bears elongated, yellow fruits with a banana-like flavor.
                    Grows well in subtropical regions.
                    Remember, passion flowers come in countless varieties, each with its own unique beauty! 🌸🌿🌼</li>
                </ul>
                <br>Characteristics:
                <ul type="disc">
                  <li>Distinctive Flowers:
                    Passion flowers produce regular and usually showy flowers.
                    The flower structure includes five sepals, five petals, and a fringelike corona.
                    Some species have up to eight coronal series, creating intricate and beautiful blooms.</li>
                    <li>Variety of Leaf Shapes:
                    Most passion flowers are climbing or prostrate vines with grasping tendrils.
                    They can be herbaceous or woody, and some are trees or shrubs.
                    A single plant may produce leaves with diverse shapes.</li>
                    <li>Fruit and Seeds:
                    The ovary of passion flowers contains numerous seeds arranged in three groups.
                    As the flower ripens, it develops into a berrylike or capsular fruit.
                    Some species, like the giant granadilla, produce highly perfumed passion fruits that are eaten as delicate desserts.</li>
                    <li>Unique Appearance:
                    Passionflower blooms vary in form, from shallow saucer shapes to long cylindrical or trumpet-shaped tubes.
                    The corona, threadlike or membranous outgrowths from the tube, adds to their beauty.
                    Stamens (male pollen-producing structures) and styles (female structures) complete the intricate flower design.</li>
                </ul>  
                <br>Benefits:
                <ul type="disc">
                 <li>Anxiety Relief:
                    Passion flower has anxiolytic effects and may help reduce anxiety and nervous disorders.
                    It impacts neurotransmitters like GABA and dopamine, potentially promoting relaxation and calmness.</li>
                    <li>Sleep Aid:
                    Traditionally used as a sleep aid, passion flower may help improve sleep quality.
                    It’s commonly used to address insomnia and promote restful sleep.</li>
                    <li>Menopause Symptom Management:
                    Some research suggests that passion flower can help manage menopausal symptoms.
                    However, further studies are needed to validate this benefit.</li >
                </ul>
              </p>
           
              <li>
                <div>
                  <h5>Review's :</h5>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked "></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                </div>
              </li>
            </ul> 
            <div class="d-flex justify-content-around mb-5">
              <h3 style="color: rgb(6, 255, 2);">46 $</h3>
              <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
              <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
            </div>

          </div>
        </div>

      </div>
    <!-- Third product -->
    <div class="row ">
      <div class="card crd" >
        <img src="E:/Students/Santhosh R/new one/static/a1.png" class="card-img-top pd " alt="Image of marigold">
        <div class="card-body border border-success">
          <ul type="circle">
            <li><h5 class="card-title ">Plant Name:</h5>
            <h1 class="card-text text-center">Amla</h1></li>
            <li><h5 class="card-title ">Biological Name:</h5>
            <p class="card-text">Phyllanthus emblica</p></li>
            <li><h5 class="card-title ">Description:</h5>
            <p class="card-text"><br>Varieties:
              <ul type="disc">
                <li>Banarasi Amla: Known for its high yield, excellent fruit quality, and adaptability to different climatic conditions.</li>
                  <li>Chakaiya Amla: Preferred for its early fruiting, good yield, and resistance to diseases.</li>
                  <li>NA-7 Amla: Favored for its high yield potential, disease resistance, and larger fruit size. Each of these varieties has unique characteristics suitable for commercial farming. Farmers can choose the one that best suits their specific conditions and market demands. 🌿🍏</li>
              </ul>
              <br>Characteristics:
              <ul type="disc">
                <li>Size and Appearance: Amla trees are small to medium-sized, reaching heights of 1–8 meters (3–26 feet). They have a mottled bark and finely pubescent branchlets that are usually deciduous. The leaves are simple, light green, and resemble pinnate leaves. The flowers are greenish-yellow.</li>
                  <li>Fruit: The fruit of the Amla tree is nearly spherical, light greenish-yellow, and has six vertical stripes or furrows. It’s quite smooth and hard in appearance. While wild Amla fruits weigh approximately 5.5 grams (0.2 ounces), cultivated fruits average 28.4 g (1 oz) to 56 g .</li>
                  <li>Chemical Constituents: Amla fruits are rich in ascorbic acid (vitamin C). They also contain ellagitannins like emblicanin A, emblicanin B, punigluconin, and pedunculagin. Other polyphenols include flavonoids, kaempferol, ellagic acid, and gallic acid.</li>
                  <li>Culinary Uses: The taste of Indian Amla is sour, bitter, and astringent. It’s commonly pickled with salt, oil, and spices in South Asia. Amla is used in dishes like dal (a lentil preparation) and is even made into amle ka murabbah, a sweet dish where the berries are candied in sugar syrup</li>
              </ul>  
              <br>Benefits:
              <ul type="disc">
               <li> Environmental Impact: Amla trees help improve soil fertility, prevent erosion, and conserve water resources. They also provide habitat for birds and other wildlife, contributing to biodiversity conservation.</li>
                <li>Health Benefits: The fruit of the Amla tree is rich in vitamin C and has potential antioxidant properties. It’s often used in herbal medicine and is believed to support heart health. 🌿🍏</li>
              </ul>
            </p>
         
            <li>
              <div>
                <h5>Review's :</h5>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x "></i>
              </div>
            </li>
          </ul> 
          <div class="d-flex justify-content-around mb-5">
            <h3 style="color: rgb(6, 255, 2);">15 $</h3>
            <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
            <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
          </div>

        </div>
      </div>

    </div>
    <!-- fourth product -->
    <div class="row ">
        <div class="card crd" >
          <img src="E:/Students/Santhosh R/new one/static/fg1.png" class="card-img-top pd " alt="Image of marigold">
          <div class="card-body border border-success">
            <ul type="circle">
              <li><h5 class="card-title ">Plant Name:</h5>
              <h1 class="card-text text-center">Guava</h1></li>
              <li><h5 class="card-title ">Biological Name:</h5>
              <p class="card-text">Phyllanthus emblica</p></li>
              <li><h5 class="card-title ">Description:</h5>
              <p class="card-text"><br>Varieties:
                <ul type="disc">
                  <li>Allahabadi Safeda:
                      These guavas are the most famous and widely grown in the country.
                      They have large, round fruits with sweet, white flesh.
                      Often used for making juices and jams, they thrive in Uttar Pradesh.</li>
                      <li>Sardar (Lucknow 49):
                      Sardar guavas are high-yielding and have a pear-like shape.
                      Their greenish-yellow skin encases sweet, white flesh.
                      These varieties are also known as Lucknow .</li>
                      <li>Lalit:
                      Lalit guavas are slightly smaller but boast sweet, pink flesh.
                      They adapt well to tropical and subtropical zones across the country.</li>
                      <li>Dhareedar:
                      Dhareedar guavas have oblong shapes and rough exteriors.
                      Inside, they reveal light pink, juicy, and flavorful flesh.</li>
                      <li>Arka Mridula:
                      A hybrid variety developed using Allahabad Safeda.
                      Arka Mridula guavas have large size, yellow skin, and creamy flesh.
                      Fun fact: The Indian Institute of Horticultural Research (IIHR) in Bangalore has also developed more pink-fleshed guava varieties—Arka Kiran and Arka Rashmi.</li>
                      <li>Banarasi:
                      Banarasi guavas are light parrot green on the outside.
                      Their creamy white flesh is rich in Vitamin C, and they have thick skin.</li>
                      <li>Chittidar:
                      Similar to Safedas, Chittidar guavas are also called Allahabadi Chittidar.
                      You can identify them by the pink-red dots on their skin.
                      Feel free to explore these delightful guava varieties and enjoy their unique flavors! 🌿🍈🌞</li>
                </ul>
                <br>Characteristics:
                <ul type="disc">
                  <li>Physical Description:
                      Guava trees have a wide, short canopy and a sturdy trunk.
                      Their leaves are serrated, oblong, and 3 to 7 inches long.
                      The bark is mottled greenish in color.</li>
                      <li>Flowers and Fruits:
                      Guava trees produce white, 1-inch flowers.
                      The resulting fruits are round, oval, or pear-shaped.
                      These berries have soft flesh, varying in color (white, pink, yellow, or red) and taste (from acidic to sweet) based on the variety.</li>
                      <li>Growing Conditions:
                      Guava plants thrive in well-drained soil with full sun.
                      They are tropical to sub-tropical and can reach up to 20 feet in height.
                      Cold protection is essential, even in warm climates with occasional icy temperatures.</li>
                      <li>Nutrient Requirements:
                      Guava trees need nitrogen, phosphoric acid, potash, and magnesium for optimal fruit production.
                      Fertilize young trees every 1-2 months and mature trees 3-4 times per year.
                      Once established, caring for a guava tree is similar to other fruiting trees1.
                      Enjoy the delicious Vitamin C-rich fruits from your guava tree! 🌿🍈🌞 </li>
                </ul>  
                <br>Benefits:
                <ul type="disc">
                 <li> Nutrient-Rich Fruit:
                    Guava fruits are packed with vitamins, especially vitamin C, which supports overall health.
                    They’re low in sugar and high in antioxidants, making them a nutritious addition to your diet.</li>
                    <li>Heart Health Support:
                    Guava leaves and fruit may help boost heart health.
                    Antioxidants protect the heart from damage, and guava leaf extract has been linked to lower blood pressure and improved cholesterol levels.</li>
                    <li>Menstrual Pain Relief:
                    Guava leaf extract may reduce the intensity of menstrual cramps.
                    For women experiencing dysmenorrhea, guava leaves could provide relief.
                    So, consider growing guava plants—they’re easy to care for and yield delicious, healthful fruits! 🌿🍈🌞</li>
                </ul>
              </p>
           
              <li>
                <div>
                  <h5>Review's :</h5>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x "></i>
                </div>
              </li>
            </ul> 
            <div class="d-flex justify-content-around mb-5">
              <h3 style="color: rgb(6, 255, 2);">15 $</h3>
              <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
              <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
            </div>
  
          </div>
        </div>
  
      </div>
        

      
</body>
</html>      