<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indoor Plants </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="flo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4d5b0504d.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg " id="navbar" width="10px" height="10px">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> <img width="80px" height="80px" src="E:/Students/Santhosh R/new one/static/logo.jpeg" > </img><font face="Viner Hand ITC">Planty world</font></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="web.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./web.html#about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Plants
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="flo.html">Flowering Plants</a></li>
                  <li><a class="dropdown-item" href="tree.html">Tree Plants</a></li>
                  <li><a class="dropdown-item" href="furit.html">Fruits Plants</a></li>
                  <li><a class="dropdown-item" href="indoor.html"> Indoor Plants </a></li>
                  <li><a class="dropdown-item" href="herbal.html">Herbal Plants</a></li>
                  
                </ul>
                <li class="nav-item">
                    <a class="nav-link " href="./web.html#footter">Contact As</a>
                </li>
              </li>
              
            </ul>
            <button class="btn">Sign In</button>
            
          </div>
        </div>
      </nav>
      <!-- Body -->
      <div id="body" style="padding-top:119px ;">
       <div class="text-center text-white">
        <h1 style="color: rgb(0, 0, 0);">Indoor Plants</h1>
        </div>
      </div> 
    
      <!-- First product -->
      <div class="row ">
        <div class="card crd " >
          <img src="E:/Students/Santhosh R/new one/static/ib1.jpg" class="card-img-top pd " alt="Image of marigold">
          <div class="card-body border border-success">
            <ul type="circle">
              <li><h5 class="card-title ">Plant Name:</h5>
              <h1 class="card-text text-center">Lucky Bamboo Plant</h1></li>
              <li><h5 class="card-title ">Biological Name:</h5>
              <p class="card-text">Dracaena sanderiana</p></li>
              <li><h5 class="card-title ">Description:</h5>
              <p class="card-text"><br>Varieties:
                <ul type="disc">
                  <li>White Stripe Victory:
                    Features light green leaves with charming white stripes.
                    Thrives in shaded locations without special attention.</li>
                    <li>White Stripe Gold:
                    Resembles White Stripe Victory but has leaves with a yellow border.
                    Grows well in both water and soil.</li>
                    <li>Green Lucky Bamboo:
                    The classic single or multiple stalk variety.
                    Represents truth in Feng Shui and looks minimalistic in glass jars with white pebbles.
                    Remember, lucky bamboo is not only auspicious but also easy to care for! 🌿🎋</li>
                </ul>
                <br>Characteristics:
                <ul type="disc">
                  <li>Appearance:
                    Slender green canes with light brown rings (leaf scars) where older leaves once were.
                    Each leaf scar contains a node, from which new shoots or roots form during propagation.</li>
                   <li> Leaf Arrangement:
                    Topped with lush green leaves that contrast beautifully.
                    Some varieties have twisted or spiraled stems, earning the nickname “Curly Bamboo.”</li>
                    <li>Adaptability:
                    Thrives in various indoor conditions, making it suitable for both novice and experienced plant enthusiasts.
                    Remember to place your lucky bamboo near filtered or indirect sunlight and use well-draining potting mix or pebbles with water for optimal growth!</li>
                </ul>  
                <br>Benefits:
                <ul type="disc">
                 <li>Symbolizes Good Luck:
                    As its name suggests, lucky bamboo is a symbol of good fortune.
                    It’s often given as a gift for various occasions, believed to bring luck and happiness.</li>
                    <li>Easy Maintenance:
                    Lucky bamboo is incredibly low-maintenance.
                    It thrives in low light conditions and requires minimal care, making it ideal for busy individuals.</li>
                    <li>Air Purification:
                    Lucky bamboo is known for its air-purifying qualities.
                    It absorbs harmful pollutants from the air, making it beneficial for indoor environments.</li>
                    <li>Versatile Decor:
                    With its adaptability to different containers and arrangements, lucky bamboo seamlessly blends into any decor style.</li>
                    <li>Spiritual Benefits:
                    Lucky bamboo connects to ancient traditions and creates a zen-like atmosphere.
                    It promotes positive energy flow and enhances your surroundings.
                    So, consider adding lucky bamboo to your home—it’s not only beautiful but also brings positivity!</li>
                </ul>
              </p>
           
              <li>
                <div>
                  <h5>Review's :</h5>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x "></i>
                </div>
              </li>
            </ul> 
            <div class="d-flex justify-content-around mb-5">
              <h3 style="color: rgb(6, 255, 2);">100 $</h3>
              <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
              <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
            </div>

          </div>
        </div>

      </div>
      <!-- Second product -->
      <div class="row ">
        <div class="card crd " >
          <img src="E:/Students/Santhosh R/new one/static/is1.jpg" class="card-img-top pd " alt="Image of marigold">
          <div class="card-body border border-success">
            <ul type="circle">
              <li><h5 class="card-title ">Plant Name:</h5>
              <h1 class="card-text text-center">Snake Plant</h1></li>
              <li><h5 class="card-title ">Biological Name:</h5>
              <p class="card-text">Dracaena trifasciata</p></li>
              <li><h5 class="card-title ">Description:</h5>
              <p class="card-text"><br>Varieties:
                <ul type="disc">
                  <li>Dracaena Trifasciata ‘Hahnii’:
                    Also called the bird’s nest snake plant, this mini cultivar features stemless leaves clustered in a nest-like rosette.
                    Foliage: Dark green with creamy white horizontal stripes.
                    Height: Up to 1.5 feet.</li>
                    <li>Dracaena Angolensi:
                    Known as the African spear plant, it has long, round, stiff leaves that arch outward from a central crown.
                    Foliage: Gray-green with subtle stripes.
                    Height: Up to 6 feet.</li>
                    <li>Dracaena Trifasciata ‘Laurentii’:
                    Often called the variegated snake plant or striped mother-in-law’s tongue.
                    Striking foliage patternation with dark green leaves featuring banded zigzags of lighter green and yellow edges.
                    Height: Up to 4 feet.</li>
                </ul>
                <br>Characteristics:
                <ul type="disc">
                  <li>Leaf Shape: Its leaves are sharply-pointed, fleshy, and erect, resembling swords. They are deep green with light gray horizontal stripes.</li>
                    <li>Growth Habit: Snake plants grow in a rosette form, with stiff leaves emerging from a thick rhizome.</li>
                    <li>Bloom: In spring, snake plants produce fragrant, small, greenish-white flowers followed by orange berries.</li>
                    <li>Variety: There are around 80 different varieties of snake plants, with leaves varying in length, shape, and color.</li>
                    <li> These evergreen perennials are hardy and adaptable, making them ideal for beginners.</li>
                </ul>  
                <br>Benefits:
                <ul type="disc">
                 <li>Air Purification: Snake plants filter indoor air by absorbing pollutants like carbon dioxide, benzene, formaldehyde, and xylene. They even release oxygen at night, making them ideal for bedrooms.</li>
                    <li>Low Maintenance: These resilient succulents are easy to care for and require little water to survive.</li>
                    <li>Mental Health Booster: While more research is needed, indoor plants, including snake plants, are known to have positive effects on mental well-being1. Their presence can enhance the ambiance and contribute to a calming environment.</li>
                    <li>Allergy Relief: Snake plants may help reduce airborne allergens, making them effective against allergies.</li>
                    <li>Feng Shui Benefits: According to feng shui principles, snake plants enhance the energy of a space.</li>
                    <li>Medicinal Uses: Some believe snake plants have minor healing properties.
                    Remember to keep them away from children and pets due to their mild toxicity when consumed in large quantities. 🌿🪴</li >
                </ul>
              </p>
           
              <li>
                <div>
                  <h5>Review's :</h5>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked "></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                </div>
              </li>
            </ul> 
            <div class="d-flex justify-content-around mb-5">
              <h3 style="color: rgb(6, 255, 2);">46 $</h3>
              <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
              <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
            </div>

          </div>
        </div>

      </div>
    <!-- Third product -->
    <div class="row ">
      <div class="card crd " >
        <img src="E:/Students/Santhosh R/new one/static/im1.jpeg" class="card-img-top pd " alt="Image of marigold">
        <div class="card-body border border-success">
          <ul type="circle">
            <li><h5 class="card-title ">Plant Name:</h5>
            <h1 class="card-text text-center">Money Plant</h1></li>
            <li><h5 class="card-title ">Biological Name:</h5>
            <p class="card-text"> Epipremnum aureum</p></li>
            <li><h5 class="card-title ">Description:</h5>
            <p class="card-text"><br>Varieties:
              <ul type="disc">
                <li>Jade Plant (Crassula ovata): Known for its slow but steady growth, the Jade Plant has thick, round leaves. It’s associated with financial success.</li>
                    <li>Pothos (Epipremnum aureum): Also called Devil’s Ivy, Pothos is easy to care for and purifies the air. Its heart-shaped leaves make it a popular choice.</li>
                    <li>Money Tree (Pachira aquatica): With its braided trunk and lush green leaves, the Money Tree symbolizes good fortune and abundance.</li>
                    <li>Silver Dollar Vine (Lunaria annua): Notable for its silver-dollar-shaped seed pods, this plant is believed to attract wealth.</li>
              </ul>
              <br>Characteristics:
              <ul type="disc">
                <li>Appearance: Money plants have round, dark green leaves that resemble coins. These leaves are typically 5-10 cm in diameter and have slightly wavy margins. The plant grows compact and bushy, reaching a height of 10-15 cm.</li>
                    <li>Names: It goes by various names, including golden pothos, Ceylon creeper, hunter’s robe, ivy arum, silver vine, Solomon Islands ivy, and taro vine. In many parts of Asia, it’s commonly known as the money plant.</li>
                    <li>Growth Habit: Money plants can climb using aerial roots that adhere to surfaces. They produce trailing stems that take root when they reach the ground, growing up to 10 cm long. When cultivated as potted plants, these trailing stems are the ones we typically see.</li>
                    <li>Symbolism: The money plant symbolizes good luck, prosperity, and positive energy. Its heart-shaped leaves represent endurance, making it a popular choice for homes and offices.</li>
                    <li>Remember to care for your money plant by providing proper lighting and occasional trimming. It’s a hardy plant that thrives even in low-light conditions! 🌿💰</li>
              </ul>  
              <br>Benefits:
              <ul type="disc">
               <li> Purifies Air: Money plants act as natural air purifiers. They remove harmful pollutants like carbon monoxide, xylene, benzene, and toluene, keeping your home fresh and clean.</li>
                <li>Brings Peace: According to Vastu principles, placing a money plant in the southeast area of your living room brings peace and prosperity. It radiates positive energy, induces calmness, and can even improve marital relationships.</li>
                <li>Aquarium Water Cleaner: You can grow money plants in aquariums. They remove nitrates from the water, helping fish survive longer. Additionally, they prevent algae growth and balance the water’s pH level.</li>
                <li>Increases Humidity: In dry regions, money plants increase humidity through evapotranspiration. This moisture helps relieve chapped lips, dry skin, and prevents allergies.</li>
                <li>Keeps Negativity Away: Money plants absorb negativity, reduce anxiety, and promote better sleep. They bring positive vibes and good luck to your home.</li>
                <li>Promotes Good Health: By removing toxins from the surroundings, money plants contribute to better indoor air quality, benefiting people with asthma.
                Remember to care for your money plant by providing proper lighting and occasional trimming. 🌿💰</li>
                
                </li>
              </ul>
            </p>
         
            <li>
              <div>
                <h5>Review's :</h5>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x "></i>
              </div>
            </li>
          </ul> 
          <div class="d-flex justify-content-around mb-5">
            <h3 style="color: rgb(6, 255, 2);">15 $</h3>
            <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
            <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
          </div>

        </div>
      </div>

    </div>
    <!-- fourth product -->
    <div class="row ">
        <div class="card crd" >
          <img src="E:/Students/Santhosh R/new one/static/ib.jpg" class="card-img-top pd " alt="Image of marigold">
          <div class="card-body border border-success">
            <ul type="circle">
              <li><h5 class="card-title ">Plant Name:</h5>
              <h1 class="card-text text-center">Birds of Paradise</h1></li>
              <li><h5 class="card-title ">Biological Name:</h5>
              <p class="card-text">Paradisaeidae</p></li>
              <li><h5 class="card-title ">Description:</h5>
              <p class="card-text"><br>Varieties:
                <ul type="disc">
                  <li>Bird of Paradise (Strelitzia reginae): Native to South Africa, this variety is also known as the crane flower. It has long, leathery leaves resembling those of a banana tree. The striking orange sepals and blue petals form a bird-like appearance atop rigid stalks. Often grown as a houseplant.</li>
                    <li>Giant Bird of Paradise (Strelitzia nicolai): Also from South Africa, this species is larger than most Strelitzia plants. Its flowers closely resemble the traditional bird of paradise. It’s a tall plant, reaching up to 6 feet in height.</li>
                    <li>Goldie’s Bird-of-Paradise (Paradisaea decora): Known for its bizarre head plumes, this species is sexually dimorphic, with elaborate feathers on males.</li>
                    <li>Wilson’s Bird-of-Paradise (Cicinnurus respublica): Another striking species, it exhibits percussive feathers and unique courtship rituals.</li>
                    <li>Superb Bird-of-Paradise (Lophorina superba): This bird showcases a “smiley face” display during courtship. Its plumage is truly superb.</li>
                    <li>King of Saxony Bird-of-Paradise (Pteridophora alberti): Known for its extraordinary head plumes, resembling wire-like antennae, this bird is a true spectacle.
                    Remember, these captivating birds inhabit dense rainforest habitats and have fascinating breeding systems. Enjoy exploring their beauty! 🌿🦜🌟</li>
                </ul>
                <br>Characteristics:
                <ul type="disc">
                  <li>Colorful Plumage: Most birds of paradise are distinguished by their vibrant colors and bright plumage. Shades of yellow, blue, scarlet, and green make them some of the world’s most dramatic and attractive birds. Males often sport elaborate feathers, such as wires or streamers, extending from their beaks, wings, tails, or heads.</li>
                    <li>Unique Ornaments: Some species have extraordinary head plumes, breast shields, or head fans. These distinctive ornaments play a crucial role during courtship displays. Males put on elaborate dances and poses to impress females, creating a phenomenal show for lucky observers.</li>
                    <li>Habitat: Birds of paradise primarily inhabit dense rainforest habitats in eastern Indonesia, Papua New Guinea, and eastern Australia. Their diet consists mainly of fruit, supplemented by arthropods.</li>
                    <li>Breeding Systems: Their breeding systems vary, ranging from monogamy to lek-type polygamy. These captivating birds have evolved fascinating rituals to attract mates.
                    Remember, their appearance once made them the target of skin hunters, who unfortunately decimated some species. Enjoy exploring the world of birds of paradise! 🌿🦜🌟 </li>
                </ul>  
                <br>Benefits:
                <ul type="disc">
                 <li> Aesthetic Value: Their vibrant tropical flowers and large, banana-like leaves transform any room into a tropical paradise. These plants command attention and add visual appeal to your home.</li>
                    <li>Air Purification: Bird of paradise plants naturally purify the air. They’re not just pretty faces; they work hard to remove indoor toxins like benzene and formaldehyde.</li>
                    <li>Long Blooming Season: Enjoy multiple show-stopping displays throughout the year. Their blooming season stretches out, providing continuous visual interest.</li>
                    <li>Low Maintenance: Whether you’re a seasoned gardener or a beginner, these resilient plants adapt well to various light and soil conditions, requiring minimal effort.</li>
                    <li>Boosted Humidity: Bird of paradise plants contribute to indoor humidity, benefiting your overall well-being.</li>
                    <li>Cultural Significance: They’ve graced postage stamps and inspired artists, making them living art pieces in your .
                    Remember to care for your bird of paradise by providing well-draining soil, bright indirect light, and occasional pruning. 🌿🦜🌟</li>
                </ul>
              </p>
           
              <li>
                <div>
                  <h5>Review's :</h5>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x "></i>
                </div>
              </li>
            </ul> 
            <div class="d-flex justify-content-around mb-5">
              <h3 style="color: rgb(6, 255, 2);">15 $</h3>
              <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
              <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
            </div>
  
          </div>
        </div>
  
      </div>
        

      
</body>
</html>      