<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree Plants </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="flo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4d5b0504d.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg " id="navbar" width="10px" height="10px">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> <img width="80px" height="80px" src="E:/Students/Santhosh R/new one/static/logo.jpeg" > </img><font face="Viner Hand ITC">Planty world</font></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="web.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./web.html#about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Plants
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="flo.html">Flowering Plants</a></li>
                  <li><a class="dropdown-item" href="tree.html">Tree Plants</a></li>
                  <li><a class="dropdown-item" href="furit.html">Fruits Plants</a></li>
                  <li><a class="dropdown-item" href="indoor.html"> Indoor Plants </a></li>
                  <li><a class="dropdown-item" href="herbal.html">Herbal Plants</a></li>
                  
                </ul>
                <li class="nav-item">
                    <a class="nav-link " href="./web.html#footter">Contact As</a>
                </li>
              </li>
              
            </ul>
            <button class="btn">Sign In</button>
            
          </div>
        </div>
      </nav>
      <!-- Body -->
      <div id="body" style="padding-top:119px ;">
       <div class="text-center text-white">
        <h1 style="color: rgb(0, 0, 0);">Tree Plants</h1>
        </div>
      </div> 
    
      <!-- First product -->
      <div class="row ">
        <div class="card crd" >
          <img src="E:/Students/Santhosh R/new one/static/t1.png" class="card-img-top pd " alt="Image of marigold">
          <div class="card-body border border-success">
            <ul type="circle">
              <li><h5 class="card-title ">Plant Name:</h5>
              <h1 class="card-text text-center">Indian Mahogany</h1></li>
              <li><h5 class="card-title ">Biological Name:</h5>
              <p class="card-text">Swietenia Mahagoni</p></li>
              <li><h5 class="card-title ">Description:</h5>
              <p class="card-text"><br>Varieties:
                <ul type="disc">
                  <li>Swietenia mahagoni: Also known as West Indian or Cuban mahogany, this species is native to southern Florida and the Caribbean. It is highly valued for its fine grain and reddish-brown color.</li>
                    <li>Swietenia macrophylla: Commonly known as Honduran or bigleaf mahogany, this species is found in Central and South America. It is one of the most commercially important types due to its large size and high-quality timber.</li>
                    <li>Swietenia humilis: Known as Pacific Coast mahogany, this species is native to the Pacific coast of Central America. It is smaller than the other two species but still valued for its wood.</li>
                    <li>Toona ciliata: Also known as Indian cedar or toon, this species is native to southern Asia and Australia. It is used for furniture and construction due to its durability</li>
                    <li>Chukrasia velutina: Known as Chittagong wood or Burmese almondwood, this species is native to southern Asia and Indochina. It is used for high-quality furniture and decorative veneers.</li>
                </ul>
                <br>Characteristics:
                <ul type="disc">
                  <li>Color: Ranges from light pinkish-brown to dark reddish-brown.</li>
                    <li>Grain: Typically straight to interlocked, with a fine to medium texture.</li>
                    <li>Durability: Generally very durable, resistant to decay and insects.</li>
                    <li>Workability: Easy to work with, machines well, and takes finishes beautifully.</li>
                    <li>Uses: Commonly used for high-quality furniture, cabinetry, musical instruments, and decorative veneers.</li>
                </ul>  
                <br>Benefits:
                <ul type="disc">
                 <li>High-Quality Timber: Indian Mahogany produces durable, attractive wood that is highly valued for furniture, cabinetry, and musical instruments. Its fine grain and rich color make it a preferred choice for high-end wood products.</li>
                  <li>Environmental Benefits: Planting Indian Mahogany trees can help in reforestation efforts and improve biodiversity. These trees also contribute to carbon sequestration, helping to mitigate climate change by absorbing carbon dioxide from the atmosphere.</li>
                </ul>
              </p>
           
              <li>
                <div>
                  <h5>Review's :</h5>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x "></i>
                </div>
              </li>
            </ul> 
            <div class="d-flex justify-content-around mb-5">
              <h3 style="color: rgb(6, 255, 2);">100 $</h3>
              <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
              <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
            </div>

          </div>
        </div>

      </div>
      <!-- Second product -->
      <div class="row ">
        <div class="card crd " >
          <img src="E:/Students/Santhosh R/new one/static/n1.jpg" class="card-img-top pd " alt="Image of marigold">
          <div class="card-body border border-success">
            <ul type="circle">
              <li><h5 class="card-title ">Plant Name:</h5>
              <h1 class="card-text text-center">Neem</h1></li>
              <li><h5 class="card-title ">Biological Name:</h5>
              <p class="card-text">Azadirachta indica</p></li>
              <li><h5 class="card-title ">Description:</h5>
              <p class="card-text">
                <br>Characteristics:
                <ul type="disc">
                  <li>Height: Neem trees can grow up to 15-30 meters (49-98 feet) tall.</li>
                    <li>Leaves: Compound leaves with serrated leaflets, typically evergreen but may shed leaves during severe drought.</li>
                    <li>Flowers: Small, fragrant, white flowers arranged in drooping panicles.</li>
                    <li>Fruit: Smooth, olive-like drupe, yellow-green when ripe, with a sweet-flavored pulp.</li>
                    <li>Bark: Thick, furrowed, and woody.</li>
                    <li>Growth: Fast-growing and resilient, tolerates poor, rocky soils but not freezing temperatures.</li>
                </ul>  
                <br>Benefits:
                <ul type="disc">
                 <li>Medicinal Uses: Neem has been used in traditional medicine for centuries. Its leaves, bark, seeds, and oil have antibacterial, antifungal, and anti-inflammatory properties. They are used to treat skin conditions, boost immunity, and even in dental care products like toothpaste and mouthwash.</li>
                  <li>Natural Pesticide: Neem oil is a powerful natural pesticide. It can be used to protect plants from pests and diseases without the harmful effects of chemical pesticides. This makes it a popular choice for organic farming and gardening.</li>
                  <li>Environmental Benefits: Neem trees help improve soil fertility and prevent erosion. They also provide shade and act as a natural air purifier by absorbing pollutants and releasing oxygen.</li >
                </ul>
              </p>
           
              <li>
                <div>
                  <h5>Review's :</h5>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                  <i class="fa-solid fa-star fa-2x checked "></i>
                  <i class="fa-solid fa-star fa-2x checked"></i>
                </div>
              </li>
            </ul> 
            <div class="d-flex justify-content-around mb-5">
              <h3 style="color: rgb(6, 255, 2);">46 $</h3>
              <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
              <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
            </div>

          </div>
        </div>

      </div>
    <!-- Third product -->
    <div class="row ">
      <div class="card crd " >
        <img src="E:/Students/Santhosh R/new one/static/a1.png" class="card-img-top pd " alt="Image of marigold">
        <div class="card-body border border-success">
          <ul type="circle">
            <li><h5 class="card-title ">Plant Name:</h5>
            <h1 class="card-text text-center">Amla</h1></li>
            <li><h5 class="card-title ">Biological Name:</h5>
            <p class="card-text">Phyllanthus emblica</p></li>
            <li><h5 class="card-title ">Description:</h5>
            <p class="card-text"><br>Varieties:
              <ul type="disc">
                <li>Banarasi Amla: Known for its high yield, excellent fruit quality, and adaptability to different climatic conditions.</li>
                  <li>Chakaiya Amla: Preferred for its early fruiting, good yield, and resistance to diseases.</li>
                  <li>NA-7 Amla: Favored for its high yield potential, disease resistance, and larger fruit size. Each of these varieties has unique characteristics suitable for commercial farming. Farmers can choose the one that best suits their specific conditions and market demands. 🌿🍏</li>
              </ul>
              <br>Characteristics:
              <ul type="disc">
                <li>Size and Appearance: Amla trees are small to medium-sized, reaching heights of 1–8 meters (3–26 feet). They have a mottled bark and finely pubescent branchlets that are usually deciduous. The leaves are simple, light green, and resemble pinnate leaves. The flowers are greenish-yellow.</li>
                  <li>Fruit: The fruit of the Amla tree is nearly spherical, light greenish-yellow, and has six vertical stripes or furrows. It’s quite smooth and hard in appearance. While wild Amla fruits weigh approximately 5.5 grams (0.2 ounces), cultivated fruits average 28.4 g (1 oz) to 56 g .</li>
                  <li>Chemical Constituents: Amla fruits are rich in ascorbic acid (vitamin C). They also contain ellagitannins like emblicanin A, emblicanin B, punigluconin, and pedunculagin. Other polyphenols include flavonoids, kaempferol, ellagic acid, and gallic acid.</li>
                  <li>Culinary Uses: The taste of Indian Amla is sour, bitter, and astringent. It’s commonly pickled with salt, oil, and spices in South Asia. Amla is used in dishes like dal (a lentil preparation) and is even made into amle ka murabbah, a sweet dish where the berries are candied in sugar syrup</li>
              </ul>  
              <br>Benefits:
              <ul type="disc">
               <li> Environmental Impact: Amla trees help improve soil fertility, prevent erosion, and conserve water resources. They also provide habitat for birds and other wildlife, contributing to biodiversity conservation.</li>
                <li>Health Benefits: The fruit of the Amla tree is rich in vitamin C and has potential antioxidant properties. It’s often used in herbal medicine and is believed to support heart health. 🌿🍏</li>
              </ul>
            </p>
         
            <li>
              <div>
                <h5>Review's :</h5>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x "></i>
              </div>
            </li>
          </ul> 
          <div class="d-flex justify-content-around mb-5">
            <h3 style="color: rgb(6, 255, 2);">15 $</h3>
            <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
            <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
          </div>

        </div>
      </div>

    </div>
    <!-- fourth product -->
    <div class="row ">
      <div class="card crd">
        <img src="E:/Students/Santhosh R/new one/static/e1.jpeg" class="card-img-top pd "  alt="Image of marigold">
        <div class="card-body border border-success">
          <ul type="circle">
            <li><h5 class="card-title ">Plant Name:</h5>
            <h1 class="card-text text-center">Eucalyptus</h1></li>
            <li><h5 class="card-title ">Biological Name:</h5>
            <p class="card-text"></p>Eucalyptus globulus labill</li>
            <li><h5 class="card-title ">Description:</h5>
            <p class="card-text"><br>Varieties:
              <ul type="disc">
                <li>Eucalyptus hybrid (Mysore gum): A form of Eucalyptus tereticornis, it’s fast-growing, fire-hardy, and adaptable to various edaphoclimatic conditions.</li>
                  <li>Eucalyptus grandis: Known for its timber quality and rapid growth.</li>
                  <li>Eucalyptus citriodora: Also called lemon-scented gum due to its citrusy aroma.</li>
                  <li>Eucalyptus globulus: Commonly known as blue gum, it’s widely planted for its valuable timber and essential oils.</li>
              </ul>
              
              <br>Characteristics:
              <ul type="disc">
                <li>Fast Growth: Eucalyptus hybrid grows rapidly, making it suitable for commercial plantations.</li>
                  <li>Weed Suppression: It can overtop weeds effectively, reducing competition.</li>
                  <li>Coppicing Ability: After cutting, it readily resprouts from the base.</li>
                  <li>Fire Resistance: Eucalyptus hybrid is fire-hardy, an essential trait in fire-prone regions. 🌿🌳</li>

              </ul>  
              <br>Benefits:
              <ul type="disc"><li>Attracting Wildlife: Eucalyptus trees provide food and shelter for birds, including parrots, cockatoos, and honeyeaters. They also attract bees that use eucalyptus flower nectar to make honey.</li>
                <li>Medicinal Uses: Eucalyptus essential oil has medicinal properties. It can relieve cold symptoms, decrease mucus, and act as a natural anti-inflammatory agent. 🌿🌳</li>
                
              </ul>
            </p>
         
            <li>
              <div>
                <h5>Review's :</h5>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked"></i>
                <i class="fa-solid fa-star fa-2x checked "></i>
                <i class="fa-solid fa-star fa-2x "></i>
              </div>
            </li>
          </ul> 
          <div class="d-flex justify-content-around mb-5">
            <h3 style="color: rgb(6, 255, 2);">46 $</h3>
            <a href="#" class="btn btn-primary">Add to Cart<i class="fa-solid fa-cart-shopping"></i></a>
            <a href="#" class="btn btn-primary">Buy Now<i class="fa-solid fa-bag-shopping"></i></a>
          </div>

        </div>
      </div>

    </div>
        

      
</body>
</html>      