<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planty World HOME</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e4d5b0504d.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg " id="navbar" width="10px" height="10px">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> <img width="80px" height="80px" src="E:/Students/Santhosh R/new one/static/logo.jpeg" > </img><font face="Viner Hand ITC">Planty world</font></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="web.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Plants
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="flo.html">Flowering Plants</a></li>
                  <li><a class="dropdown-item" href="tree.html">Tree Plants</a></li>
                  <li><a class="dropdown-item" href="furit.html">Fruits Plants</a></li>
                  <li><a class="dropdown-item" href="indoor.html"> Indoor Plants </a></li>
                  <li><a class="dropdown-item" href="herbal.html">Herbal Plants</a></li>
                  
                </ul>
                <li class="nav-item">
                    <a class="nav-link " href="#footter">Contact As</a>
                </li>
              </li>
              
            </ul>
			<form action="sign in.html">
		        	    <button  class="btn" >Sign In</button>
			</form>
		
            
          </div>
        </div>
      </nav>


    <!-- home -->
    <section id="home">
      <h2>Welcome to</h2>
      <h1 align="center">Planty World</h1>   
      <p>"Each One,Plant One"</p>
     <a href="sign up.html"> <button type="button" class="btn btn-danger">Register Here</button></a>
    </section>
    <!-- about -->
    <section id="about" class=" bg"  >
     <div class="row">
      <div class="col-sm-4" >
        <i class="fa-solid fa-address-card fa-9x"></i>
      </div>
      <div class="col-sm-8"> 
        <h2>About Us :</h2>
       <h4> ♣ Planty World is India’s largest and most trusted online plant nursery that specialises in all your gardening needs. The Planty World online nursery not only sells premium quality exotic indoor plants, outdoor plants, flowering plants, and succulents to name a few, but also specialises in organic vegetable, herb, and flower seeds. Planty World provides premium, trendy planters, best in class soil and fertilisers, and all the gardening tools a home gardener can need.<br><br>

        ♣ At Planty World we believe that we are more than a garden store, we help people grow along their gardening journey, Afterall plants grow people. We believe in the magic of growing things and discovering our inner self in the process while revelling in the jot of your first new leaf, your first bloom, or your first sprouted seed.<br><br>
        
       ♣ Planty World prides itself in the fact that it is not just an online garden store or online plant nursery but a friend who helps both you and your garden grow. We provide a lifetime of gardening support and hand hold you through all your gardening journeys.</h4>
      </div>
    </div> 
    </section>  
    <!-- link plants  -->
    <section id="linkplants" class="text-white">
      <div class="container  text-center " style="margin-top: 2px;">
        <h1>Click plants to start Shoping!!!</h1>
      </div>
      <div>
        <h1 class="font">Tips to be noted Before Buying plants</h1>
      </div>  
      <ul class="font" type="circle">
        <li>Read Reviews</li>
        <li>Check the Plant's Description</li>
        <li>Look for Clear Photos</li>
        <li>Consider the Shipping Method</li>
        <li>Check the Return Policy </li>
        <li>Consider the plants need's</li>
        <li>Don't be Afraid to ask Question</li>
        <li>Consider the Price</li>
        <li>Trust your Instincts</li>
        
        
    </section>  
   

    <!-- contact footter-->
    <section id="footter">
      <footer class="bg-dark text-white pt-5 pb-4" style="width: 100%; height: 100%;"> 
        <div class="container text-center text-md-left">
          <div class="row text-center text-md-left">
          
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-success">Company Name</h5>
                <div class="row" >
                  <div class="col-sm-1" >
                    <img width="29px" height="29px" src="E:/Students/Santhosh R/new one/static/logo.jpeg" style="padding-right:1.5px;" > </img>
                  </div>
                  <div class="col-sm-1">
                    <font face="Viner Hand ITC">Planty&nbsp;world</font>
                  </div>  
                </div>
            </div>


            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-success">Get Help</h5>
              <p>
                <a href="#" class="text-white" style="text-decoration: none;">FAQ</a>
              </p>  
              <p>
                <a href="#" class="text-white" style="text-decoration: none;">Shipping</a>
              </p>  
              <p>
                <a href="#" class="text-white" style="text-decoration: none;">Returns</a>
              </p>  
              <p>
                <a href="#" class="text-white" style="text-decoration: none;">Order Status</a>
              </p>  
              <p>
                <a href="#" class="text-white" style="text-decoration: none;">Payment Options</a>
              </p>  

            </div>  

              
            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-success">Contact As</h5>
              <p>
                <i class="fas fa-home mr-3"></i>Erode-638056,Tamil Nadu,India
              </p>  
              <p>
                <i class="fas fa-envelope mr-3"></i>Plantyworld@gmail.com
              </p>  
              <p>
                <i class="fas fa-phone mr-3"></i>+91 1234567890
              </p>  
              <p>
                <i class="fas fa-globe-pointer"></i>www.plantyworld.com
              </p>  

            </div>
            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-success">Follow As</h5>
              <ul class="list-unstyled list-inline">
                <li class="list-inlime-item">

                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inlime-item">

                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inlime-item">

                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                  <i class="fab fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inlime-item">

                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inlime-item">

                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li class="list-inlime-item">

                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              </ul>
            </div>
          </div>
          <hr class="mb-4">
          <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">

              <p >Copright @2024 All Rights Reserved by :<a href="#" style="text-decoration: none;"><strong class="text-warning">Santhosh R</strong></a></p>
            </div>


          </div>  
        </div>




      </footer>  
    </section>    

    


</body>
</html>